<% @books.each do |book| %>
  <h5> Reading <%= book.name %> </h5>
    <h6>
      <%= book.book_type %> <br/>
      Website: <%= book.website %> <br/>
      Volume: <%= book.volume %> <br/>
      Chapter: <%= book.chapter %> <br/>
      Page: <%= book.page %> <br/>
    </h6>
    <hr/>
<% end %>
