<!DOCTYPE html>
<html ng-app="BookmarkerApp">
<head>
  <title>Bookmarker</title>
  <%= stylesheet_link_tag    'angular', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed" rel="stylesheet">
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js" charset="utf-8"></script>
</head>
<body>
  <form action="<%= session_path %>" method="POST">
    <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input class="logout" type="submit" value="Log out">
  </form>
  <%= yield %>
  <%= javascript_include_tag 'angular', 'data-turbolinks-track' => true %>
</body>
</html>
